In [38]:
#1
import numpy as np
import pandas as pd
print(pd.__version__)

1.3.3

In [48]:
#2
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print(mylist)
print(myarr)
print(mydict)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [40]:
#3
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(myarr, mylist))
ser = pd.Series(mydict)

#Convert the series ser into a dataframe with its index as another column on the dataframe.

df= pd.DataFrame(ser).transpose()
df

  0  1  2  3  4  5  6  7  8  9   ... 16 17 18 19 20 21 22 23 24 25
0  a  b  c  e  d  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z

[1 rows x 26 columns]

In [41]:
#4
#Combine ser1 and ser2 to form a dataframe.
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df= pd.concat([ser1, ser2])
df

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

In [42]:
#5. Give a name to the series ser calling it ‘alphabets’.

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'

ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [66]:
#6 From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [72]:
#7 Get all items of ser1 and ser2 not common to both.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

s_uni = pd.Series(np.union1d(ser1, ser2))
s_int = pd.Series(np.intersect1d(ser1, ser2))

s_uni[~s_uni.isin(s_int)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [89]:
#8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

ser = pd.Series(np.random.normal(10, 5, 25))

s_max= pd.arcmax(ser)

np.percentile(ser, q=[0, 25, 50, 75, 100])

AttributeError: module 'pandas' has no attribute 'arcmax'

In [83]:
#9 Calculate the frequency counts of each unique value ser.

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

f    6
d    5
c    5
e    4
h    4
a    3
g    2
b    1
dtype: int64

In [88]:
10 #From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser.value_counts()

2    5
4    3
3    3
1    1
dtype: int64

In [47]:
#11 Bin the series ser into 10 equal deciles and replace the values with the bin name.

ser = pd.Series(np.random.random(20))

0     0.548163
1     0.879513
2     0.162847
3     0.034043
4     0.058854
5     0.869620
6     0.767457
7     0.701050
8     0.530587
9     0.436136
10    0.903386
11    0.517054
12    0.375536
13    0.764821
14    0.220620
15    0.598840
16    0.781950
17    0.958061
18    0.718093
19    0.658881
dtype: float64